.auth-container{
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    display: flex;

}

.White-container {
  background-color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 8em;
  width: fit-content;
}

.Container-login-details {
  width: 70%;
  padding: 2em;
}

.container-input-and-label {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.auth-input-form {
  height: 3em;
  border: 0.082em solid #00000055;
  padding-left: 2.6em;
  margin-top: 0.4em;
  border-radius: 0.42em;
  width: 100%;
}

.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 56%;
  left: 20px;
  transform: translateY(-50%);
  color: #999999;
}

.auth-button {
  width: 100%;
  margin-top: 4em;
  background-color: #ff7f00;
  color: white;
  height: 3em;
}

@media only screen and (max-width: 1186px) {
  .White-container {
    margin: 3em 3em;
  }
  .Container-login-details {
    width: 100%;
    padding: 1em;
  }
  .illustration {
    display: none;
  }
  .auth-input-form {
    width: 36em;
  }
}

@media only screen and (max-width: 716px) {
  .auth-input-form {
    width: 26em;
  }
}

@media only screen and (max-width: 551px) {
    .auth-container{
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
    
    }
  .auth-input-form {
    width: 85vw;
  }
  .White-container {
    margin: 0px;
    padding: 0em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
}
